<form
class="2xl:w-1/5 w-1/2 mx-auto bg-secondary my-8 md:p-8 p-4 rounded-lg shadow-md flex flex-col md:gap-2 gap-1.5"
[formGroup]="form"
(ngSubmit)="onSubmit($event)">
    <div class="flex flex-col gap-1">
        <label for="username">Nazwa użytkownika</label>
        <input
        class="border-2 rounded focus:outline-none bg-primary border focus:border-tertiary"
        id="username"
        [formControl]="form.controls.username"
        [ngClass]="form.controls.username.invalid && form.controls.username.touched ? 'border-error' : 'border-primary'">
        <span
        class="text-error"
        [ngClass]="form.controls.username.invalid && form.controls.username.touched ? '' : 'invisible'">Pole musi być wypełnione</span>
    </div>
    <div class="flex flex-col gap-1">
        <label for="email">Email</label>
        <input
        class="border-2 rounded focus:outline-none bg-primary border focus:border-tertiary"
        id="email"
        [formControl]="form.controls.email"
        [ngClass]="form.controls.email.invalid && form.controls.email.touched ? 'border-error' : 'border-primary'">
        <span
        class="text-error"
        [ngClass]="form.controls.email.invalid && form.controls.email.touched ? '' : 'invisible'">Pole musi być poprawnie wypełnione</span>
    </div>
    <div class="flex flex-col gap-1">
        <label for="password">Hasło</label>
        <input
        type="password"
        class="border-2 rounded focus:outline-none border focus:border-tertiary bg-primary"
        id="password"
        [formControl]="form.controls.password"
        [ngClass]="form.controls.password.invalid && form.controls.password.touched ? 'border-error' : 'border-primary'">
        <span
        class="text-error"
        [ngClass]="form.controls.password.invalid && form.controls.password.touched ? '' : 'invisible'">Pole musi być wypełnione</span>

    </div>
    <button
    class="bg-accent rounded px-6 py-1  border border-2 border-accent"
    [disabled]="!form.valid"
    [ngClass]="!form.valid ? 'bg-primary' : 'bg-accent cursor-pointer'">Prześlij</button>
    <span class="h-4 text-error">{{message()}}</span>
    <div class="flex justify-between">
        <a
        class="cursor-pointer text-tertiary underline"
        routerLink="/logowanie"
        routerLinkActive="active">Zaloguj się</a>
    </div>

</form>
