<div class="flex flex-col mx-auto w-4/5 gap-12">
    <div class="flex flex-col">
        <span class="sm:text-8xl text-5xl">{{post()?.title}}</span>
        <span class="sm:text-2xl text-xl">Autor: {{post()?.author?.username}}</span>
    </div>
    <hr>
    <span class="sm:text-4xl text-2xl">{{post()?.subtitle}}</span>
    <hr>
    <span class="text-2xl">{{post()?.content}}</span>
    <hr>
    <span class="sm:text-4xl text-2xl">Komentarze</span>
    <div class="flex flex-col gap-6">
        <app-post-comment
        [createMode]="true"
        [blogPostId]="post()?.id"
        (commentStateChange)="onCommentStateChange($event)"
        >
        </app-post-comment>
        @for(comment of comments(); track $index) {
            <div>
                <span>Autor: {{comment.author.username}}</span>
                <app-post-comment
                  (commentStateChange)="onCommentStateChange($event)"
                  [blogPostId]="post()?.id"
                  [commentId]="comment.id"
                  [createMode]="false"
                  [readonly]="true"
                  [content]="comment.content"
                  [author]="comment.author.username">

                </app-post-comment>
            </div>
        }
    </div>
</div>
