<div class="mt-4 flex flex-col mx-auto w-3/5 gap-12">
  <img class="max-h-140 object-cover grow-1 basis-1/2" [src]="reqUrl()" alt="there shall be an image">
  <div class="flex flex-col gap-2">
        <span class="md:text-7xl text-5xl">{{post()?.title}}</span>
        <span class="md:text-2xl text-xl">Autor: {{post()?.author?.username}}</span>
    </div>
    <hr>
    <span class="md:text-4xl text-2xl">{{post()?.subtitle}}</span>
    <hr>
    <span class="text-2xl">{{post()?.content}}</span>
    <hr>
    <span class="md:text-4xl text-2xl">Komentarze</span>
    <div class="flex flex-col gap-6">
        <app-post-comment
        [createMode]="true"
        [blogPostId]="post()?.id"
        (commentStateChange)="onCommentStateChange()"
        >
        </app-post-comment>
        @for(comment of comments(); track $index) {
            <div>
                <span>Autor: {{comment.author.username}}</span>
                <app-post-comment
                  (commentStateChange)="onCommentStateChange()"
                  [blogPostId]="post()?.id"
                  [commentId]="comment.id"
                  [createMode]="false"
                  [readonly]="true"
                  [content]="comment.content"
                  [author]="comment.author.username">

                </app-post-comment>
            </div>
        }
    </div>
</div>
