<form
class="grow-1 w-4/5 mx-auto bg-primary rounded p-8 flex flex-col gap-4"
(click)="$event.stopPropagation()"
(ngSubmit)="onSubmit($event)"
[formGroup]="form">
    <h2 class="md:text-3xl text-2xl font-semibold text-tertiary">Kreator postów</h2>
    <div class="flex flex-col">
        <label for="title">Tytuł</label>
        <textarea
        type="text"
        id="title"
        class=" min-h-12 bg-secondary/40 border border-2 border-tertiary rounded focus:outline-none focus:border-tertiary focus:bg-secondary resize-none"
        [formControl]="form.controls.title"></textarea>
        @if (form.controls.title.hasError('required')) {
          <span
            class="text-error"
            [ngClass]="form.controls.title.invalid && form.controls.title.touched ? '' : 'invisible'">Pole nie może być puste</span>
        }
        @if (form.controls.title.hasError('minlength')) {
          <span
            class="text-error"
            [ngClass]="form.controls.title.invalid && form.controls.title.touched ? '' : 'invisible'">Pole nie może być krótsze niż 80 znaków</span>
        }
        @if (form.controls.title.hasError('maxlength')) {
          <span
            class="text-error"
            [ngClass]="form.controls.title.invalid && form.controls.title.touched ? '' : 'invisible'">Pole nie może być dłuższe niż 100 znaków</span>
        }

    </div>
    <div class="flex flex-col">
        <label for="subtitle">Podtytuł</label>
        <textarea
        id="subtitle"
        class="min-h-18 bg-secondary/40 border border-2 border-tertiary rounded focus:outline-none focus:border-tertiary focus:bg-secondary resize-none"
        [formControl]="form.controls.subtitle"></textarea>
      @if (form.controls.subtitle.hasError('required')) {
        <span
          class="text-error"
          [ngClass]="form.controls.subtitle.invalid && form.controls.subtitle.touched ? '' : 'invisible'">Pole nie może być puste</span>
      }
      @if (form.controls.subtitle.hasError('minlength')) {
        <span
          class="text-error"
          [ngClass]="form.controls.subtitle.invalid && form.controls.subtitle.touched ? '' : 'invisible'">Pole nie może być krótsze niż 120 znaków</span>
      }
      @if (form.controls.subtitle.hasError('maxlength')) {
        <span
          class="text-error"
          [ngClass]="form.controls.subtitle.invalid && form.controls.subtitle.touched ? '' : 'invisible'">Pole nie może być dłuższe niż 150 znaków</span>
      }
    </div>
    <div class="flex flex-col">
        <label for="content">Treść</label>
        <textarea
        id="content"
        class="min-h-100 bg-secondary/40 border border-2 border-tertiary rounded focus:outline-none focus:border-tertiary focus:bg-secondary resize-none"
        [formControl]="form.controls.content"></textarea>
      @if (form.controls.content.hasError('required')) {
        <span
          class="text-error"
          [ngClass]="form.controls.content.invalid && form.controls.content.touched ? '' : 'invisible'">Pole nie może być puste</span>
      }
      @if (form.controls.content.hasError('minlength')) {
        <span
          class="text-error"
          [ngClass]="form.controls.content.invalid && form.controls.content.touched ? '' : 'invisible'">Pole nie może być krótsze niż 750 znaków</span>
      }
      @if (form.controls.content.hasError('maxlength')) {
        <span
          class="text-error"
          [ngClass]="form.controls.content.invalid && form.controls.content.touched ? '' : 'invisible'">Pole nie może być dłuższe niż 1000 znaków</span>
      }
    </div>
    <div class="flex justify-between">
        <a class="cursor-pointer underline text-tertiary">Dodaj zdjęcie</a>
        <div class="flex gap-4">
          <button
            type="submit"
            (click)="closeModal($event)"
            class="cursor-pointer bg-accent disabled:bg-accent/50 text-neutral-light md:py-2 md:px-8 py-1 px-2 rounded">
            Anuluj
          </button>
          <button
            type="submit"
            class="cursor-pointer bg-accent disabled:bg-accent/50 text-neutral-light md:py-2 md:px-8 py-1 px-2 rounded"
            [disabled]="form.invalid">Zatwierdź
          </button>
        </div>
    </div>
</form>
