<div
  class="
  flex justify-between flex-col gap-8
  md:flex-row">
  <div
    class="
    animate-pulse
    grid grid-cols-1
    2xl:grid-cols-2 gap-8">
    <div class="w-130">
      <app-post-card>
        <h2 ngProjectAs="title">
        Title...
        </h2>
        <span ngProjectAs="description">
        Subtitle...
        </span>
        <div ngProjectAs="footer">
          <span>Created at...</span>
        </div>
      </app-post-card>
    </div>
    <div class=" w-130">
      <app-post-card>
        <h2 ngProjectAs="title">
          Title...
        </h2>
        <span ngProjectAs="description">
        Subtitle...
        </span>
        <div ngProjectAs="footer">
          <span>Created at...</span>
        </div>
      </app-post-card>
    </div>
    <div class=" w-130">
      <app-post-card>
        <h2 ngProjectAs="title">
        Title...
        </h2>
        <span ngProjectAs="description">
        Subtitle...
        </span>
        <div ngProjectAs="footer">
          <span>Created at...</span>
        </div>
      </app-post-card>
    </div>
    <div class=" w-130">
      <app-post-card>
        <h2 ngProjectAs="title">
        Title...
        </h2>
        <span ngProjectAs="description">
        Subtitle...
        </span>
        <div ngProjectAs="footer">
          <span>Created at...</span>
        </div>
      </app-post-card>
    </div>
  </div>
</div>
