<div class="mx-auto border-x-1 border-t-1 bg-tertiary/50">
  <div class="grid grid-cols-3 gap-2 bg-secondary divide-x-1 border-b-1">
    <span class="lg:p-2 cursor-default">Symbol</span>
    <span class="col-span-2 lg:p-2 p-0 cursor-default">Cena💸</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
  <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
    <span class="p-1">N/A</span>
    <span>N/A</span>
  </div>
</div>
