<div class="md:text-[1.1rem] text-md">
  @if(quotes.isLoading()) {
    Loading...
  }
  @if(quotes.error()) {
    <div class="text-error bg-secondary p-8">Błąd przy wczytywaniu danych z giełdy</div>
  }
  @else {
    <div class="mx-auto border-x-1 border-t-1 bg-tertiary/50">
      <div class="grid grid-cols-2 gap-2 bg-secondary divide-x-1 border-b-1">
        <span class="p-2 cursor-default">Symbol</span>
        <span class="p-2 cursor-default">Cena💸</span>
      </div>
      @for (quote of quotesDisplay(); track $index) {
        <div class="grid grid-cols-2 gap-2 divide-x-1 border-b-1">
          <span class="p-1">{{quote.ticker || "N/A"}}</span>
          <span class="sm:gap-4 sm:p-2 flex grow-1 p-1 gap-0">
            <span class="basis-1/4">{{ (quote.close | toFixed:2) || 'N/A' }}</span>
            <span
              class="basis-3/4 grow"
              [ngClass]="quote.changePositive ? 'text-green-400' : 'text-red-600'">{{ quote.symbol }} {{ quote.change || '' }}</span>
          </span>
        </div>
      }
    </div>
  }
  </div>

