<div class="md:text-[1rem] text-md">
  <div class="mx-auto border-x-1 border-t-1 bg-tertiary/50">


  @if(quotes.isLoading()) {
    <app-stooq-display-placeholder></app-stooq-display-placeholder>
  }
  @if(quotes.error()) {
    <div class="text-error bg-secondary p-8">Wystąpił błąd podczas wczytywania danych z giełdy</div>
  }
  @else {
    <div class="grid grid-cols-3 gap-2 bg-secondary divide-x-1 border-b-1">
      <span class="lg:p-2 cursor-default">Symbol</span>
      <span class="col-span-2 lg:p-2 p-0 cursor-default">Cena💸</span>
    </div>
      @for (quote of quotesComputed(); track $index) {
        <div class="grid grid-cols-3 gap-2 divide-x-1 border-b-1">
          <span class="p-1">{{quote.ticker || "N/A"}}</span>
          <span class="col-span-2 sm:p-2 flex grow-1 p-1 gap-2">
            <span>{{ (quote.close | toFixed:2) || 'N/A' }}</span>
            <span>{{ quote.symbol }}</span>
            <span
              class="grow-1"
              [ngClass]="quote.changePositive ? 'text-green-400' : 'text-red-600'"> {{ quote.change || '' }}</span>
          </span>
        </div>
      }
  }
  </div>
</div>

