<div class="grow-1">
  <div class="flex flex-row mt-20 border-1">
    <div class="flex flex-col divide-y-1 bg-secondary">
      <span class="p-2 cursor-default">Nazwa</span>
      <span class="p-2 cursor-default">Symbol</span>
      <span class="p-2 cursor-default">Data</span>
      <span class="p-2 cursor-default">Czas</span>
      <span class="p-2 cursor-default">Otwarcie</span>
      <span class="p-2 cursor-default">Max</span>
      <span class="p-2 cursor-default">Min</span>
      <span class="p-2 cursor-default">Zamknięcie</span>
      <span class="p-2 cursor-default">Wolumin</span>
    </div>
    @for (quote of quotes.value(); track $index) {
      <div class="flex flex-col divide-y-1">
        <span class="p-2">{{quote.name || "N/A"}}</span>
        <span class="p-2">{{quote.ticker || "N/A"}}</span>
        <span class="p-2">{{quote.date || "N/A"}}</span>
        <span class="p-2">{{quote.time || "N/A"}}</span>
        <span class="p-2">{{quote.open || "N/A"}}</span>
        <span class="p-2">{{quote.high || "N/A"}}</span>
        <span class="p-2">{{quote.low || "N/A"}}</span>
        <span class="p-2">{{quote.close || "N/A"}}</span>
        <span class="p-2">{{quote.volume || "N/A"}}</span>
      </div>
    }
  </div>
</div>
