<div class="flex flex-col min-h-screen bg-primary">
    <nav class="sticky top-0  bg-secondary py-2">
      <div class="w-4/5 mx-auto min-h-10 flex justify-between items-center">
        <div
          class="flex items-center gap-2 cursor-pointer select-none"
          routerLink="/"
          routerLinkActive="active">
          <img class="w-16 h-auto" src="/chick.svg" alt="obrazek pokazujący logo" height="16" width="16">
          <span class="text-accent text-2xl font-bold md:block hidden">Hotwings</span>
        </div>
        @if (!authenticated) {
          <span
            class="text-accent text-xl underline cursor-pointer"
            routerLink="/logowanie"
            routerLinkActive="active">Zaloguj</span>
        } @else {
          <span
            class="text-accent text-xl underline cursor-pointer"
            (click)="logout()">Wyloguj</span>
        }</div>
    </nav>
    <app-chicken-facts
    [interval]="10000"></app-chicken-facts>
    <router-outlet></router-outlet>
    <footer class="bg-secondary text-center">
      <span class="text-center">Autorowie</span>
    </footer>
</div>
