<form
[formGroup]="form"
(ngSubmit)="saveComment($event)">
    <div class="md:max-w-1/2 min-h-30 max-w-full flex flex-col bg-secondary/40 rounded mb-8 border-2 border-tertiary p-4">
        <textarea
        [ngClass]="readonly() || !authenticated ? 'cursor-default' : 'cursor-select'"
        [formControl]="form.controls.content"
        [readonly]="readonly() || !authenticated"
        class="focus:outline-none resize-none w-full min-h-16"
        [placeholder]="readonly() ? ''
                     : !authenticated ? 'Zaloguj się aby zamieścić komentarz'
                     : 'Miejsce na komentarz'"></textarea>
        <div class="flex justify-end">
            @if (user === author()) {
              <div class="flex gap-4">
                @if(authenticated){
                  @if(readonly()) {
                    <button
                      type="button"
                      class="bg-accent px-4 py-2 rounded"
                      (click)="onUpdate()">
                      Aktualizuj
                    </button>
                  } @else {
                    <button
                      type="button"
                      class="bg-accent px-4 py-2 rounded"
                      (click)="onUpdateCommit()">
                      Zapisz zmiany
                    </button>
                  }
                <button
                  (click)="onDelete()"
                  type="button"
                  class="bg-error/80 px-4 py-2 rounded">
                  Usuń
                </button>
                }
              </div>
            }
            @if(createMode() && authenticated) {
                <button
                type="submit"
                [disabled]="form.invalid || !authenticated"
                class="rounded px-4 py-2"
                [ngClass]="form.invalid || !authenticated ? 'bg-accent/50' : 'bg-accent'">Publikuj</button>
            }
        </div>
    </div>
</form>
