<form 
[formGroup]="form"
(ngSubmit)="saveComment($event)">
    <div class="flex flex-col bg-secondary/40 rounded border mb-8 border-2 border-tertiary p-4">
        <textarea 
        [ngClass]="readonly() ? 'cursor-default' : 'cursor-select'"
        [formControl]="form.controls.content"
        [readonly]="readonly() || !authenticated()"
        class="focus:outline-none resize-none w-full min-h-40" 
        [placeholder]="readonly() ? ''
                     : !authenticated() ? 'Zaloguj się aby zamieścić komentarz'
                     : 'Miejsce na komentarz'"></textarea>
        <div class="flex justify-end">
            @if(!readonly()) {
                <button 
                type="submit"
                [disabled]="form.invalid || !authenticated"
                class="rounded px-4 py-2"
                [ngClass]="form.invalid || !authenticated ? 'bg-accent/50' : 'bg-accent'">Publikuj</button>
            }
        </div>
    </div>
</form>