<div class="grow-1 bg-primary flex flex-col items-center pt-20 gap-8">
    <img
    class="h-auto w-120" 
    [src]="'not-found.png'" alt="">
    <div class="flex flex-col items-center">
        <span class="font-bold text-3xl text-tertiary">404 - strona nie istnieje</span>
        <span class="text-lg">Strona o url 
            <span class="text-accent">{{route}}</span> nie zostałą znaleziona
        </span>
        <span class="text-lg">Kliknij 
            <a 
            class="text-accent font-bold"
            routerLinkActive="active"
            routerLink="/posty">tutaj</a> aby przejść do głównego widoku
        </span>
    </div>
</div>