<div class="grow-1 flex flex-col gap-4 py-8">
  <div class="grow-1 flex flex-col justify-between sm:w-4/5 w-full mx-auto sm:px-0 px-4">
    @if (posts.isLoading()) {
      <app-post-list-placeholder></app-post-list-placeholder>
    }
    @if (posts.error()) {
      <div class="text-error bg-secondary p-8">Błąd przy wczytywaniu postów</div>
    }
    @if (!posts.value()?.length) {
      <div class="flex flex-col gap-8 items-center">
        <p class="text-xl pt-20 text-center">Lista postów jest obecnie pusta</p>
      </div>
    }
    @else {
      <div
      class="
      flex justify-between flex-col gap-8
      md:flex-row">
          <div
          class="
          grid grid-cols-1 md:max-w-3/5 w-full
          2xl:grid-cols-2 gap-8">
            @for (post of posts.value(); track $index) {
                <app-post-card
                  [imageId]="post.imageId"
                  [id]="post.id"
                  [author]="post.author.username">
                  <h2 ngProjectAs="title">
                    {{ post.title }}
                  </h2>
                  <span ngProjectAs="description">
                      {{ post.subtitle }}
                  </span>
                  <div ngProjectAs="footer">
                    <span>{{ post.author.username }} | {{ post.createdAt }}</span>
                  </div>
                </app-post-card>
            }
          </div>
        @defer (when !posts.isLoading()) {
           <app-stooq-display></app-stooq-display>
        }
      </div>
    }
    <button
      class="fixed bottom-2 right-2 lg:relative self-end py-4 px-12 rounded cursor-pointer bg-accent text-neutral-light"
      routerLink="/posty/nowy"
      routerLinkActive="active">
      Wstaw nowy post
    </button>
  </div>
</div>
