<div class="bg-primary grow-1 flex flex-col gap-4 p-8 justify-between">
  @if(posts.isLoading()) {
    Loading...
  }
  @if(posts.error()) {
    <div class="text-error bg-secondary p-8">Błąd przy wczytywaniu postów</div>
    <app-stooq-display></app-stooq-display>
  }
  @if(!posts.value()?.length) {
        <div class="flex flex-col gap-8 items-center">
          <p class="text-xl pt-20 text-center">Lista postów jest obecnie pusta</p>
          <app-stooq-display></app-stooq-display>
        </div>
  }
    @else {
      <div
      class="flex md:flex-row flex-col md:gap-0 gap-12">
        <div
        class="
        grid grid-cols-1 grow-1
        md:grid-cols-2
        2xl:grid-cols-3 gap-8 sm:w-3/5 w-full mx-auto">
          @for(post of posts.value(); track $index) {
            <app-post-card
              [id]="post.id"
              [author]="post.author.username">
              <h2 ngProjectAs="title">
                {{post.title}}
              </h2>
              <span ngProjectAs="description">
                        {{post.subtitle}}
                    </span>
              <div ngProjectAs="footer">
                <span>{{post.author.username}} | {{post.createdAt}}</span>
              </div>
            </app-post-card>
          }
          </div>
          <app-stooq-display></app-stooq-display>
      </div>
    }
    <button
      class="fixed bottom-5 right-5 sm:block self-end py-4 px-12 rounded cursor-pointer bg-accent text-neutral-light"
      routerLink="/posty/nowy"
      routerLinkActive="active">
      Wstaw nowy post
    </button>
    <router-outlet></router-outlet>
</div>
