<div 
class="
grid-cols-1
md:grid-cols-2
grid 2xl:grid-cols-3 gap-8 mx-auto 2xl:w-3/5 p-6">
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 1
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 2
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 3
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 4
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 5
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie.   
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 1
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 2
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 3
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 4
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 5
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie.   
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 1
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 2
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 3
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 4
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie. 
        </span>
    </app-post-card>
    <app-post-card>
        <h2 ngProjectAs="title">
            Post 5
        </h2>
        <span ngProjectAs="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum non nibh sed rutrum. Phasellus venenatis mattis rhoncus. 
            Duis molestie ante vel quam tincidunt, in condimentum lorem molestie.   
        </span>
    </app-post-card>
</div>